<h1>Tag: <%= @tag.name %></h1>
<p>TODO: list pages/categories/items/photos with this tag</p>
Pages:
<ul>
  <li>none</li>
</ul>
Categories:
<ul>
  <li>none</li>
</ul>
Items:
<ul>
  <li>none</li>
</ul>
Photos:
<ul>
  <li>none</li>
</ul>
